*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    border:none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}
.container{
    width:400px;
    height:min-content;
    background-color: #fff;
    border-radius: 14px;
    padding: 28px;
}
.search-box{
    width:100%;
    height:min-content;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input{
width:84%;
font-size: 28px;
text-transform: capitalize;
color:#000;
background-color: #e6f5fb;
padding: 12px 16px;
border-radius: 14px;
}
.search-box input ::placeholder{
    color:#000;
}
.search-box button{
    width:46px;
    height:46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}
.search-box button:hover{
    color:#fff;
    background-color: #ababab;
}
.wheather-body{
    display:none;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}
.wheather-body img{
    width:60%;
}
.wheather-box{
    margin-block: 20px;
    text-align: center;
}
.wheather-box .temprature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}
.wheather-box .temprature sup{
     font-size: 20px;
     position: absolute;
     font-weight: 600;
}
.wheather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.wheather-detail{
  width: 100%;
  display:flex;
  justify-content: space-between;
  margin-top: 30px;
}
.humidity,.wind{
    display: flex;
    align-items: center;
}
.humidity{
    margin-left: 20px;
}
.wind{
    margin-right: 20px;
}
.wheather-detail i{
    font-size: 36px;
}
.wheather-detail .text{
    margin-left: 10px;
    font-size: 16px;
}
.text span{
    font-size: 20px;
    font-weight: 700;
}
.location-not-found{
    margin-top: 20px;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.location-not-found h1{
    font-size: 20px;
    color: #6b6b66;
    margin-block-end: 15px;
}
.location-not-found img{
    width:80%;
}
